.logo {
  float: left;
  width: 120px;
  height: 30px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.header {
  background: #ebbab9;
}

.content {
  display: flex;
  align-items: center;
  padding: 0 50px;
  min-height: calc(100vh - 64px - 70px);
}

.shortner {
  width: 100%;
  background: #fff;
  padding: 24px 20px;
}

.linkField {
  display: flex;
  width: 100%;
}

.linkFieldInput {
  flex: 100%;
  margin-right: 5px;
}

.linkFieldButton {
  width: 120px;
}

.footer {
  text-align: center;
}

.submitButton {
  background: #c4f1be;
  border: 1px solid #c4f1be;
  opacity: 0.5;
  transition: opacity 0.3s ease-out;

  &:hover {
    background: #c4f1be;
    border: 1px solid #c4f1be;
    opacity: 1;
  }
}
